

@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        #dataTable_filter input {
            display: none;
        }

        .no-footer {
            border-bottom: none;
        }

        .is-invalid {
            color: #E84C3D;
            margin-top: 5px;
        }

        .dt-buttons {
            border-bottom: 1px solid rgba(0,0,0,.125);
            padding: 8px;
        }

        .card-tools {
            position: absolute;
            right: 10px;
            top: 11px;
            z-index: 999;
        }

        .card-tools1 {
            position: absolute;
            right: 10px;
            top: 56px;
            z-index: 999;
        }

        .cn {
            position: relative;
        }
    </style>
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">

                    <li class="breadcrumb-item active">Trang Chủ</li>
                </ol>
            </div>
        </div>
    </div>
</section>




<section class="content">
    <!-- /.container-fluid 2-->
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-info elevation-4">
                    <div class="inner">
                        <h4 id="KHTN">KÊ KHAI HẰNG NĂM @ViewBag.Year</h4>

                        <p>@ViewBag.KeKhaiHangNam Bản Kê Khai</p>
                    </div>

                    <a  id="Xem_KeKhaiHangNam" class="small-box-footer">Xem <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-success elevation-4">
                    <div class="inner">
                        <h4 id="KHHD">KÊ KHAI BỔ SUNG NĂM @ViewBag.Year</h4>

                        <p>@ViewBag.KeKhaiBoSung Bản Kê Khai</p>
                    </div>

                    <a id="Xem_KeKhaiBoSung" class="small-box-footer">Xem<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small box -->
                <div class="small-box bg-warning elevation-4">
                    <div class="inner">
                        <h4 id="KHLH">CHƯA KÊ KHAI NĂM @ViewBag.Year</h4>

                        <p>@ViewBag.KeKhaiQuaHan Bản Kê Khai</p>
                    </div>

                    <a  id="Xem_ChuaKeKhai" class="small-box-footer">Xem <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!--<div class="col-lg-3 col-6">-->
            <!-- small box -->
            <!--<div class="small-box bg-success elevation-4">
                    <div class="inner">
                        <h3>0<sup style="font-size: 20px">%</sup></h3>

                        <p>Thành Tích</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">Xem <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>-->
            <!-- ./col -->
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
    <!-- /.container-fluid 1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card elevation-2" style="overflow-x: hidden; overflow-y: hidden; ">
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 200px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Tìm ..." id="Filter_QLTenTaiKhoan">

                            <div class="input-group-append mr-3">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search text-primary"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                    <table class="table table-hover text-nowrap table-bordered" id="dataTable" style="width: 100%">
                        <thead class="bg-primary">
                            <tr>
                                <th>STT</th>
                                <th>Tên Kế Hoạch</th>
                                <th>Tên Loại Kê Khai</th>
                                <th>Thời gian Bắt Đầu</th>
                                <th>Thời gian Kết Thúc</th>
                                <th>Cơ Quan Đơn Vị</th>
                                <th>Kê Hoạch Năm</th>
                                <th>Trạng Thái</th>
                                <th>Chức Năng</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="card-footer clearfix" style="height: 51px; width: 100%">
                        <ul class="pagination pagination-sm m-0 float-right">
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-dk">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đính Kèm Bản Kê Khai Có Chữ Ký</h4>
                    <button type="button" class="close closeform" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/NV_KeKhai_TSTN/DinhKemFile?Length=14" class="NV_Create_DinhKem form-horizontal" data-ajax="true" data-ajax-begin="FnBegin_DinhKem" data-ajax-failure="Failure_DinhKem" data-ajax-method="POST" data-ajax-success="FnSuccess_DinhKem" enctype="multipart/form-data" id="form0" method="post">
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 d-flex" style="margin-bottom: 10px;">
                                    <span style="font-size: 17px;"><b>Lưu ý:</b> Đây là bản kê khai đã hoàn tất kiểm tra và scan có chữ ký để gửi đi, vui lòng kiểm tra kỹ.</span>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Đính Kèm Bản Kê Khai<span style="color: red"> *</span></label>
                                        <input class="form-control" type="file" id="FileDinhKem" name="FileDinhKem" style="height: auto; " required>
                                        <input class="form-control" hidden type="text" id="MaKeKhai" name="MaKeKhai" style="height: auto;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-danger closeform" data-dismiss="modal" style="width: 118px">
                                Đóng
                            </button>
                            <button type="submit" class="btn btn-primary" style="position: relative; width: 118px;">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="background: none; display: block; shape-rendering: auto; margin: 0px; padding: 0px; width: 20px; height: 20px; position: absolute;left: 5px;top: 6px;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loading_dk d-none">
                                    <circle cx="50" cy="50" r="32" stroke-width="8" stroke="#ffffff" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
                                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
                                    </circle>
                                </svg>
                                Đính Kèm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>

@* Modal detail*@
<div class="modal fade" id="xemchitiet-sh1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chi Tiết Kế Hoạch Kê Khai</h4>
                <button type="button" class="close closeform" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 d-flex">
                            <hr style="width: 20%" />
                            <span style="font-size: 17px;">Thông Tin Chung Kế Hoạch Kê Khai Tài Sản, Thu Nhập</span>
                            <hr style="width: 20%" />
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Kế Hoạch Năm</label>
                                <input type="number" min="1900" max="2099" step="1" class="form-control" placeholder="nhập kế hoạch năm" id="KeHoachNam_Detail" name="KeHoachNam">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Loại Kế Hoạch Kê Khai</label>
                                <select class="form-control" id="Ma_Loai_KeKhai_Detail" name="Ma_Loai_KeKhai" style="width: 100%; height: 100%;">
                                    <option value="3">Kê Khai Lần Đầu</option>
                                    <option value="4">Kê Khai Hằng Năm</option>
                                    <option value="12">Kê Khai Phục Vụ Công Tác Cán Bộ</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label>Tên Kế Hoạch</label>
                                <input type="text" class="form-control" placeholder="nhập tên kế hoạch kê khai" id="TenKeHoachKeKhai_Detail" name="TenKeHoachKeKhai">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Thời Gian Bắt Đầu Kê khai</label>
                                <input type="date" class="form-control" id="ThoiGianBatDau_Detail" name="ThoiGianBatDau">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label>Thời Gian Kết Thúc Kê Khai</label>
                                <input type="date" class="form-control" id="ThoiGianKetThuc_Detail" name="ThoiGianKetThuc">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label>Thời Gian Bắt Đầu Công Khai</label>
                                <input type="date" class="form-control" id="ThoiGianBatDauCongKhai_Detail" name="ThoiGianBatDauCongKhai">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label>Thời Gian Kết Thúc Công Khai<span style="color: red"> *</span></label>
                                <input type="date" class="form-control" id="ThoiGianKetThucCongKhai_Detail" name="ThoiGianKetThucCongKhai">
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="form-group">
                                <label>Đính Kèm Tệp</label>
                                <span id="NghiDinh_Detail"></span>

                            </div>
                        </div>
                        <div class="col-12 row" id="KKTT">

                        </div>

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger closeform" data-dismiss="modal" style="width: 105px">
                        Đóng
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/NghiepVu/NV_DanhSachKeHoachKeKhai.js"></script>


