@model IEnumerable<KeKhaiTaiSanThuNhap.Models.DM_PhuongXa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten_PhuongXa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ma_QuanHuyen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_PhuongXa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_QuanHuyen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_PhuongXa }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_PhuongXa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_PhuongXa })
        </td>
    </tr>
}

</table>
